* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.welcome {
	border-style: ;
	height: 40px;
	width:80%;
	margin: auto;
	overflow: hidden;
	margin-top: 20px;
	}
.navbar {
	background-color: #243a5e;
	height: 50px;
}
	.nav {

		list-style: none;
		display: grid;
		grid-template-columns: repeat(4, 75px);
		gap: 5px;
		justify-content: start;
		justify-items: center;
		margin-top: 10px;
		margin-left: 10%;
	}
	.nav li a {
		color: white;
	}
	
	/*
	#navbar {
		background-color: #000080;
		color: #fff;
		font-size: 20px;
		display: grid;
		grid-template-areas: 
		'home about projects contact';
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows:  80px 1fr 70px;
	}
	*/
	#home {
		grid-area: home;
	}
	#about {
		grid-area: about;
	}
	#projects {
		grid-area: projects;
	}
	#contact {
		grid-area: contact;
	}
/*	

#navbar{
	background-color:#000080;
	color:#fff;
	}
	#navbar ul{
	padding:0;
	list-style: none;
	}
	#navbar li{
	display: inline;
	}
	#navbar a{
	color:#fff;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
	}
*/

body {
background-color:#2f2f2f;
color:white;
height: 100vh;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 1.6em;
display: grid;
grid-template-areas: 
'header header header'
'asideLeft main asideRight'
'footer footer footer';
grid-template-columns: 1fr 4fr 1fr;
grid-template-rows:  100px 1fr 70px;
}

header {
	grid-area: header;
}
.asideLeft {
	grid-area: asideLeft;
}
main {
	grid-area: main;
}
.asideRight {
	grid-area: asideRight;
}
footer {
	grid-area: footer;
}
/*Footer*/
footer {
	background: #171717;
	color:#fff;
	text-align: center;
	bottom: 0px;
	left: 0px;
	}

#main-header{
background-color:#171717;
color:#fff;
}
.sites {
	font-size: 20px;
	min-height: auto;
	width:100%;

	color:azure;
	display: grid;
	align-items: center;
	grid-template-areas:
	'real real real' 
	'site1 site2 site3'
	'mock mock mock'
	'site4 site5 site6';
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 30px 1fr 30px 1fr;
	gap: 15px;
}

h3 {
	color: azure;
}
.portpics {
	width: 170px;
	height: 120px;
	}
.grid_sites {
	background-color: #171717;
	color: azure;
	padding: 15px;
	/*border: solid;*/
}
.site1 {
	grid-area: site1;
	display: grid;
	justify-content: left;
	color: #75b6e7;
	/*border: solid;*/
}
.site2 {
	grid-area: site2;
	display: grid;
	justify-content: left;
	color: #75b6e7;
	/*border: solid;*/
}
.site3 {
	grid-area: site3;
	display: grid;
	justify-content: left;
	color: #75b6e7;
	/*border: solid;*/
}
.site4 {
	grid-area: site4;
	display: grid;
	justify-content: left;
	color: #75b6e7;
	/*border: solid;*/
}
.site5 {
	grid-area: site5;
	display: grid;
	justify-content: left;
	color: #75b6e7;
	/*border: solid;*/
}

.site6 {
	grid-area: site6;
	display: grid;
	justify-content: left;
	color: #75b6e7;

	/*border: solid;*/
}

.real {
	display: grid;
	grid-area: real;
	justify-self: left;
	color: #75b6e7;
	/*border: solid;*/
}

.mock {
	grid-area: mock;
	display: grid;
	justify-content: left;
	color: #75b6e7;

	/*border: solid;*/
}

@media(max-width:600px){
#main{
	width:100%;
	float:none;
}

/*
#main{
float:left;
width:70%;
padding:0 30px;
box-sizing: border-box;
}
*/