/***********************Default Template********************************/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.welcome {
	border-style: ;
	height: 40px;
	width:80%;
	margin: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-left: 17%;
	}
/*Above is nominal*/
#main-header{
	background-color:#171717;
	color:#fff;
	}
header {
	border: ;
}
.navbar {
	border: ;
	background-color: #243a5e;
	margin: 20px 0px 20px 0px;
	padding: 20px 0px 20px 0px;
}
	.nav {
		border: ;
		list-style: none;
		display: flex;
		gap: 30px;
		align-items: center; /*Aligns vertically.*/
		justify-content: flex-start; /*Aligns horizontally.*/
		margin-left: 17%; /*320px can work but only for limited displays.*/
	}
	.nav li a {
		color: white;
		font-weight: 500;
		text-decoration: none;
		font-size: ;

		transition: all 0.3s ease 0s;
	}
	
	.nav li a:hover {
		color: grey;
		/*text-decoration: underline;*/
	}
	#home {
		grid-area: home;
	}
	#about {
		grid-area: about;
	}
	#projects {
		grid-area: projects;
	}
	#contact {
		grid-area: contact;
	}

main {
	margin-top: 40px;
}

body {
background-color:#2f2f2f;
color:white;
height: 100vh;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 1.6em;
display: grid;
grid-template-areas: 
'header header header'
'asideLeft main asideRight'
'footer footer footer';
grid-template-columns: 1fr 4fr 1fr;
grid-template-rows:  100px 1fr 70px;
}

header {
	grid-area: header;
}
.asideLeft {
	grid-area: asideLeft;
}
main {
	grid-area: main;
}
.asideRight {
	grid-area: asideRight;
}
footer {
	grid-area: footer;
}
/*Footer*/
footer {
	background: #171717;
	color:#fff;
	display: flex;
	text-align: 
	bottom: 0px;
	left: 0px;
	}
.main-footer {
	display: flex;
	align-items: center; /*Aligns vertically.*/
	justify-content: center; /*Aligns horizontally.*/
}	
/*End of Footer*/
/***********************Default Template********************************/

/************************************Home Page*****************************************/
/*Websites Portfolio*/
.grid_sites a {
	transition: all 0.3s ease 0s;
	text-decoration: none;
	max-width: 100%;
	border: ;
}
.grid_sites a:hover {
	text-decoration: underline;
}
.site1 {
	grid-area: site1;
	display: grid;
	justify-content: left;
	color: #75b6e7;
	/*border: solid;*/
}
.site2 {
	grid-area: site2;
	display: grid;
	justify-content: left;
	color: #75b6e7;
	/*border: solid;*/
}
.site3 {
	grid-area: site3;
	display: grid;
	justify-content: left;
	color: #75b6e7;
	/*border: solid;*/
}
.site4 {
	grid-area: site4;
	display: grid;
	justify-content: left;
	color: #75b6e7;
	/*border: solid;*/
}
.site5 {
	grid-area: site5;
	display: grid;
	justify-content: left;
	color: #75b6e7;
	/*border: solid;*/
}
.site6 {
	grid-area: site6;
	display: grid;
	justify-content: left;
	color: #75b6e7;

	/*border: solid;*/
}
.real {
	display: grid;
	grid-area: real;
	justify-self: center;
	color: #75b6e7;
	/*border: solid;*/
}
.mock {
	grid-area: mock;
	display: grid;
	justify-content: center;
	color: #75b6e7;
	/*border: solid;*/
}
/************************************End of Home Page*****************************************/
/***********************About Page/***********************/
.about_grid {
	font-size: 20px;
	min-height: auto;
	width:100%;
	max-height: 100%;
	color:azure;
	display: grid;
	align-items: center;
	grid-template-areas:
	'frontEndimg frontEnd'
	'ITLead SWK'
	'RR1 IT';
	grid-template-columns: 2fr 2fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 5px;
}
.frontEnd {
	border: ;
	background-color: #;
	grid-area: frontEnd;
	max-width: 100%;
	max-height: 100%;
}
.frontEndimg {
	border: solid;
	grid-area: frontEndimg;
	max-width: 500px;
	max-height: 500px;
	border-radius: 10%;

}
.ITLead {
	grid-area: ITLead;
}
.SWK {
	grid-area: SWK;
	max-width: 500px;
	max-height: 500px;
	border-radius: 10%;
	border: solid;
}
.IT {
	grid-area: IT;
}
.RR1 {
	grid-area: RR1;
	max-width: 500px;
	max-height: 500px;
	border-radius: 10%;
	border: solid;
}


.sites {
	font-size: 20px;
	min-height: auto;
	width:100%;
	color:azure;
	display: grid;
	align-items: center;
	grid-template-areas:
	'real real real' 
	'site1 site2 site3'
	'mock mock mock'
	'site4 site5 site6';
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 30px 1fr 30px 1fr;
	gap: 15px;
}
h3 {
	color: #e6e6e6;
	text-decoration: none;
}
.portpics {
	width: 170px;
	height: 120px;
}
.portpics:hover {
	opacity: 0.5;
}
.grid_sites {
	background-color: #171717;
	color: #e6e6e6;
	padding: 15px;
	/*border: solid;*/
}
/***********************End of About Page/***********************/
/*Contact Page*/
.sub-form {
	border:;
	background-color:#171717;
}
.contact-form {
	display: grid;
	max-width: 100%;
}
/*End of Contact Page*/
@media(max-width:600px){
#main{
	width:100%;
	float:none;
}

/*
#main{
float:left;
width:70%;
padding:0 30px;
box-sizing: border-box;
}
*/