<!--End of Main Tag-->
<footer class="main-footer">
	<p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>, phillipmagos.com</p>
	<!--Have: link to: LinkedIn, Twitter?, -->
</footer>
<!--End of Footer Tag-->
</body>
</html>