<%- include('partials/header.ejs'), {title: "Home"} %>
<main>
	<!-- Album Bootstrap Template -->
	<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Album Bootstrap Tempalte End -->


	
		<!-- <div class="sites">
				<div class="real"><h3>Real Websites</h3></div> -->
<!--Site 1-->
				<!-- <section class="grid_sites">
				<a class="site1" id="#" href="https://phillipzmagos.com" target="_blank"><p>Premium Wordpress Site 1</p>
					<div class="portpics">
					<img class="portpics" src="/aassets/BBQ.jpg" alt="text">
				<div class="content-text">
					<div class="text">Visit Site</div>
				</div>
			</div>
				</a>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores itaque odio maxime, debitis ea aperiam? Consectetur, optio ipsum!</p></section> -->
<!--Site 2-->
				<!-- <section class="grid_sites">
				<a class="site2" href="https://phillipzmagos.wordpress.com" target="_blank">
					<p>Free Wordpress Site 2</p>
					<div class="portpics">
					<img class="portpics" src="aassets\mtech.JPG" alt="">
				<div class="content-text">
					<div class="text">Visit Site</div>
				</div>
			</div>	
				</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores itaque quod odio maxime, rem perspiciatis sequi.</p>
				</section> -->
<!--Site 3-->				
				<!-- <section class="grid_sites">
				<a class="site3" id="#"  href="https://phillipmagos.github.io/M-Tech/" target="_blank"><p>IT Freelance Site</p>
					<div class="portpics">
					<img class="portpics" src="aassets\BBQ.jpg" alt="">
					<div class="content-text">
						<div class="text">Visit Site</div>
					</div>
				</div>
				</a>
				<p> Perspiciatis sequi, repudiandae doloribus voluptate esse consectetur dolorum suscipit, debitis ea aperiam? Consectetur, optio ipsum!</p>	
				</section>

				<div class="mock"><h3>Mock/Clone Websites</h3></div> -->
<!--Site 4-->
				<!-- <section class="grid_sites">
				<a class="site4" id="#" href="Phils BBQ\index.html" target="_blank"><p>Phil's BBQ</p>
					<div class="portpics">
					<img class="portpics" src="aassets\BBQ.jpg" alt="text">
					<div class="content-text">
						<div class="text">Visit Site</div>
					</div>
				</div>
				</a>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores itaque quod odio maxime, rem perspiciatis sequi, repudiandae doloribus voluptate</p></section> -->
<!--Site 5-->
				<!-- <section class="grid_sites">
				<a class="site5" id="#"  href="C:\Users\phillip.magos\Desktop\Dummy Websites\M-Tech\index.html" target="_blank"><p>Typical 90's Website</p>	
					<div class="portpics">
					<img class="portpics" src="aassets\mtech.JPG" alt="">
					<div class="content-text">
						<div class="text">Visit Site</div>
					</div>
				</div>
				</a>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores itaque quod odio maxime, rem pers</p></section>
<!--Site 6-->
		<!--	<section class="grid_sites">
				<a class="site6" id="#"  href="#" target="_blank"><p>Documentation Site</p>
					<div class="portpics">
					<img class="portpics" src="aassets\BBQ.jpg" alt="">
					<div class="content-text">
						<div class="text">Visit Site</div>
					</div>
				</div>
				</a>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores itaque quod odio maxime, rem perspiciat</p>
				</section>
		</div>
	</div>
<br> -->
<!-- <div class="asideLeft"></div>
<div class="asideRight"></div> -->


<%- include('partials/footer.ejs') %>